{{ define "main" }}
    <article class="article article-scrollby" data-target="#article-scrollpy">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>
{{ end }}
{{ define "aside" }}
<div class="sidebar-fixed">
    <div id="article-scrollpy" class="sidebar-widget">
        <h3 class="widget-header">
            <a href="#">Đầu mục bài viết</a>
        </h3>
        <ul class="sidebar-links article-scrollpy-links">
        </ul>
    </div>
</div>
<div class="sidebar-fixed">
    <div class="sidebar-widget">
        <h3 class="widget-header ucfirst">
            <span>Bài viết khác</span>
        </h3>
        {{ range first 1 (where (where .Site.Pages ".Params.subjects" "intersect" .Params.subjects) "Permalink" "!=" .Permalink) }} 
            {{ $.Scratch.Set "has_related" true }}
        {{ end }}

        {{ if $.Scratch.Get "has_related" }}
            <ul class="sidebar-links">
            {{ $num_to_show := .Site.Params.related_content_limit | default 10 }}
            {{ range first $num_to_show (where (where .Site.Pages ".Params.subjects" "intersect" .Params.subjects) "Permalink" "!=" .Permalink) }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>        
        {{ end }}
    </div>
</div>
{{ end }}