{{ define "main" }}
    <section class="row-section">
        <h2 class="row-section-title">{{ .Title }}</h2>
        <p>
            Tổng hợp các bài viết thuộc chủ đề {{ .Title }}
        </p>
        {{ $paginator := .Paginate .Data.Pages .Site.Params.note_pager }}
        <div class="row-section-content">                
            <ul>
            {{ range $paginator.Pages }}
                <li class="row-section-content-item">
                    <a class="row-section-content-item-link" href="{{ .Permalink }}">{{ .Title }} - {{ .PublishDate.Format "02 Jan, 2006" }}</a>
                    
                </li>
            {{ end }}        
            </ul>
        </div>
        {{ template "_internal/pagination.html" . }}
    </section>
{{ end }}
{{ define "aside" }}
<div class="sidebar-fixed">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}    
        {{ if eq $taxonomyname "projects" }}
        <div class="sidebar-widget">
            <h3 class="widget-header ucfirst"><span>{{ $taxonomyname }}</span></h3>
            {{ range $key, $value := $taxonomy }}
                <a class="category-tag {{ $key }}" href="{{ (print $taxonomyname "/" $key) | absURL }}">{{ $key }}</a>
            {{ end }}        
        </div>
        {{ end }}
    {{ end }}                   
</div>
{{ end }}