{{ define "main" }}
    <section class="row-section">
        <h2 class="row-section-title">{{ .Title }}</h2>        
        {{ $taxonomy_term := (index .Site.Data.subjects (lower .Title)) }}
        <p>
            Tổng hợp các bài viết thuộc chủ đề {{ .Title }}
        </p>
        {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse .Site.Params.article_pager }}
        <div class="row-section-content">                
            <ul>
            {{ range $paginator.Pages.ByDate.Reverse }}
                <li class="row-section-content-item">
                    <a class="row-section-content-item-link" href="{{ .Permalink }}">{{ .Title }} - {{ .Date }}</a>
                    
                </li>
            {{ end }}        
            </ul>
        </div>
        {{ template "_internal/pagination.html" . }}
        <p class="text-center">
            <img class="item-image img-fluid" src="{{ (printf "%v" $taxonomy_term.image) | absURL }}" alt="{{ .Title }}" />
        </p>
    </section>
{{ end }}
{{ define "aside" }}
<!-- <div class="sidebar-fixed">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}    
        {{ if eq $taxonomyname "projects" }}
        <div class="sidebar-widget">
            <h3 class="widget-header ucfirst"><span>{{ $taxonomyname }}</span></h3>
            {{ range $key, $value := $taxonomy }}
                <a class="category-tag {{ $key }}" href="{{ (print $taxonomyname "/" $key) | absURL }}">{{ $key }}</a>
            {{ end }}        
        </div>
        {{ end }}
    {{ end }}                   
</div> -->
{{ end }}